<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
   
    <div class="one">
      <input type="text" placeholder="enter a new password.." />
      <button onclick="submit()">submit</button>
    </div>


    <div class="two">
        <h1>Password updated successfull</h1>
    </div>
    <!-- <h1> <%= token  %> </h1> -->

    <script>
      let two = document.querySelector('.two')
      let one = document.querySelector('.one')
      two.style.display = 'none'
      let inputTag = document.querySelector("input");
      let token = "<%=token %>";
      async function submit() {
        let password = inputTag.value;

        console.log(password);
        console.log(token);

        let res = await fetch(
            // http://localhost:8080/users/resetToken/rsFS3NJKEQNz3bm6yp
          `http://localhost:8080/users/resetToken/${token}`,
          {
            method: "POST",
            headers: {
              "content-type": "application/json",
            },
            body: JSON.stringify({password}),
          }
        );

        let data = await res.json();
        console.log(data);

        if(data.success){
          two.style.display = "block"
          one.style.display = "none"
        }

      }
    </script>
  </body>
</html>
